<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716996304613-7jt2d68rt8nutm30ddhchafr8jqc9qbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716996304613-7jt2d68rt8nutm30ddhchafr8jqc9qbk</string>
	<key>API_KEY</key>
	<string>AIzaSyBtMpaDljkIq-FLN02OHWXH--amPHnGNCI</string>
	<key>GCM_SENDER_ID</key>
	<string>716996304613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLiveStreamingApp</string>
	<key>PROJECT_ID</key>
	<string>audio-video-a046d</string>
	<key>STORAGE_BUCKET</key>
	<string>audio-video-a046d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716996304613:ios:d84a2b7c9693191a35be0c</string>
</dict>
</plist>